//Colors
$color-primary: #0D47A1;
$color-secondary: #D50000;
$color-tertiary: #1B5E20;

$color-blue-light: #2196F3;
$color-red-light: #F44336;
$color-green-light: #4CAF50;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

//Fonts
$default-font-size: 1.6rem;


//Grid
$grid-width :114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;